body{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 50px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h2{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  font-size: 40px;
  color: #bf0f02;
}

h3{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px
}
a{
  color: #bf0f02;
}
p{
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 20px
}

div{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px
}
